absl-py
astunparse
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
deepface
filelock
fire
Flask
Flask-Cors
flatbuffers
gast
gdown
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
idna
importlib_metadata
itsdangerous
Jinja2
joblib
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
mtcnn
numpy
oauthlib
opencv-python
opt_einsum
packaging
pandas
pillow
protobuf
pyasn1
pyasn1_modules
PySocks
python-dateutil
pytz
requests
requests-oauthlib
retina-face
rsa
scikit-learn
scipy
six
soupsieve
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
Werkzeug
wrapt
zipp
python-dotenv